.about-bg {
    background-image: url('./about-bg.jpg');
    box-shadow:inset 0 0 0 150vw rgba(0,0,0,0.7);
}

.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    max-width: 700px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.line2 {
    border-bottom: 1px solid gold;
    margin-top: 30px;
}

.about-top > p {
    font-size: 20px;
}

.orbit-text {
    font-size: 25px !important;
    color: goldenrod;
}

.hay-about-container {
    margin: 20px auto;
}

.hay-about-img {
    width: 100%;
}

.about-bottom > p {
    font-size: 15px;
}