.home-page-content {
    background-image: url('./home-bg-gold.png');
    background-position: center;
    border-bottom: 2px solid goldenrod;
}

.header-container {
    background-color: black;
    border-bottom: 2px solid goldenrod;
}

.header-wrapper {
    display: flex;
    align-items: center;
    /* background-image: url('./gold-scale-bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    background-position: center; */
}

.header {
    text-align: center;
    width: 50%;
}

.header-title {
    max-width: 650px;
    min-width: 300px;
    color: white;
    font-size: 70px;
    margin: 0 auto;
}

.header-img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.headerBG-img {
    width: 100%;
    max-width: 700px;
    z-index: 999;
}

.header-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 270px;
}

.gold {
    color: rgb(223, 189, 105);
}

.header-sub-title {
    padding: 20px;
    text-align: center;
}

.sub-title {
    color: white;
    font-size: 25px;
}

.sub-heading-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 100px;
    background-color: rgb(19, 19, 19);
    padding: 100px;
}

.sub-heading {
    width: 50%;
    padding: 50px;
}

.sub-heading-title {
    color: white;
    text-align: center;
    font-size: 25px;
}

.line {
    border-bottom: 1px solid goldenrod;
    width: 80%;
    margin: 0 auto;
}

.sub-heading-text {
    color: white;
    font-size: 25px;
    text-align: center;
    /* border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod; */
}

.hay-img-container {
    width: 50%;
    padding: 50px;
}

.hay-img {
    width: 100%;
}

.victor-email {
    color: white;
}

.victor-email:hover {
    color: gold;
}

@media screen and (max-width: 1600px) {
    .sub-heading-container {
        display: block;
    }

    .sub-heading {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .sub-heading-text {
        padding: 10px;
    }

    .hay-img-container {
        width: 100%;
        margin: 0 auto;
    }

    .hay-img {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .header-wrapper {
        display: block;
    }

    .header {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .header-title {
        font-size: 35px;
    }

    .header-img-container {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .sub-heading-container {
        padding: 0;
    }

    .sub-heading-text {
        font-size: 16px;
    }
}