.mutePlay {
    padding: 5px;
    font-weight: 600;
}

.mutePlay:hover {
    background-color: red;
    color: white;
}

#videoClip {
    cursor: pointer;
}

.image-link {
    color: white;
    padding: 5px;
    cursor: pointer;
    text-align: right;
}

.image-link:hover {
    color: goldenrod;
}

.gallery-container {
    background-image: url('../HomeComp/home-bg-gold.png');
    background-position: top
}

.gallery-container > div > video {
    width: 73%;
    background-color: black;
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
}